@page "{int?}"
@using Quaverflow.Data.MusicModels

@model Portfolio.Pages.MusicScales.AddNewScaleModel
@{
}

<div class="mt-3">
    <h2>Add new scale</h2>

    <form method="post">
        <div class="row">
            <div class="col-md-5">
                <label>Scale name</label>
                <input class="form-control" asp-for="Scale.Name" />
                <span class="text-danger small" asp-validation-for="@Model.Scale.Name"></span>
                <span class="text-muted small">For modal scales, insert name, degree and alteration for each mode.</span>
            </div>
            <div class="col-md-4">
                <label>Your name</label>
                <input class="form-control" asp-for="Scale.CreatedBy" />
                <span class="text-danger small" asp-validation-for="@Model.Scale.CreatedBy"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <hr class="muted" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Symmetrical</label>
                <input asp-for="Symmetrical" class="custom-radio" value="true" />
                <input name="Symmetrical" type="hidden" value="false">
                <br />
                <span class="text-muted small">Copy the name of the mode wherever it is repeated in the scale.</span>
            </div>
            <div class="col-md-4">
                <label>Non Modal Scale</label>
                <input asp-for="NonModal" class="custom-radio" value="true" />
                <input name="NonModal" type="hidden" value="false">
                <br />
                <span class="text-muted small">Only input the name of the scale. Any mode name will be ignored.</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <hr class="muted" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 h5">
                Mode Name
            </div>
            <div class="col-md-3 h5">
                Degree
            </div>
            <div class="col-md-2 h5">
                Alteration
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input class="form-control" asp-for="Scale.Modes[0].Name" />
                <span asp-validation-for="Scale.Modes[0].Name" class="text text-danger small"></span>

            </div>
            <div class="col-md-3">

                <select class="form-control" asp-for="Scale.Modes[0].Intervals[0].Degree">
                    <option value="@Degree.Root">@Degree.Root</option>
                </select>
                <span asp-validation-for="Scale.Modes[0].Intervals[0].Degree" class="text text-danger small"></span>

            </div>
            <div class="col-md-2">
                <select class="form-control" asp-for="Scale.Modes[0].Intervals[0].Distance">
                    <option value="0">♮</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <hr class="muted" />
            </div>
        </div>
        @if (Model.Message != null)
        {
            <span class="text text-danger small">@Model.Message</span>
        }
        @for (var i = 1; i < 12; i++)
        {
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control" asp-for="Scale.Modes[i].Name" />
                    <span asp-validation-for="Scale.Modes[0].Name" class="text text-danger small"></span>

                </div>
                <div class="col-md-3">
                    <select class="form-control" asp-for="Scale.Modes[0].Intervals[i].Degree" asp-items="@Model.DegreesToDisplay">
                    </select>
                    <span asp-validation-for="Scale.Modes[0].Intervals[0].Degree" class="text text-danger small"></span>
                </div>
                <div class="col-md-2">
                    <select class="form-control" asp-for="Scale.Modes[0].Intervals[i].Distance">
                        <option value="-2">♭♭</option>
                        <option value="-1">♭</option>
                        <option selected value="0">♮</option>
                        <option value="1">♯</option>
                        <option value="2">♯♯</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <hr class="muted" />
                </div>
            </div>
        }
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

